.vscode
node_modules
dist/
/coverage
# Ignore all JSON files in the fixtures tests directory
tests/fixtures/*.json
tests/schemas/*.prod.test.ts

/src/generated/prisma
docker-compose.override.yml

*.sh
.env
.env.local
.vercel

prisma/seed-prod.ts
